## package caches
node_modules/
__pycache__/

## Jetbrains
*/.idea/*.xml
.idea/compiler.xml
**/material_theme_project_new.xml
**/.idea/codeStyles/codeStyleConfig.xml
**/.idea/inspectionProfiles/
.idea/modules/
.idea/libraries/
.idea/awsToolkit.xml
**/.idea/dataSources/

## Jetbrains exceptions
^.idea/runConfigurations
^**/.idea/runConfigurations


