## package caches
node_modules/
__pycache__/

## Jetbrains
*/.idea/*.xml
.idea/compiler.xml
**/material_theme_project_new.xml
**/.idea/codeStyles/codeStyleConfig.xml
**/.idea/inspectionProfiles/

## Jetbrains exceptions
^.idea/runConfigurations
